body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
}

a {
    color: black;
    text-decoration: none;
    display: block;
}

li {
    display: inline;
    float: left;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul a {
    padding: 0 10px 0 10px;
}

li > .right {
    float: right;
}

ul a:hover {
    color: black;
    text-decoration: underline;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
}