body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    font-size: 12px;
}

li {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    padding: 0 10px 0 10px;
    color: rgb(85, 85, 85);
    text-align: center;
    text-decoration: none;
}

.right {
    float: right;
}

ul a:hover {
    color: black;
    text-decoration: underline;
}

#footer {
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    padding: 1% 0 1% 0;
}

#main {
    align-items: center;
    width: 100%;
    height: 100%;
}

img {
    justify-content: center;
    max-width: 33%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9%;
}

form {
    height: 5px;
}

/* #searchbox {
    border-radius: 25px;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(214, 214, 214);
    height: 37px;
    outline: none;    
    background-color: white;
} */

#searchbox {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    outline: none;
    height: 3em;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 500px;
}

input[type=text] {
    padding-left: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0 100px 0 100px;
}

.divider {
    width: 10px;
    height: auto;
    display: flex;
}

#search {
    height: 35px;
    background-color: #f2f2f2;
    border: none;
    padding: 0 15px 0 15px;
    border-radius: 3px;
    font-size: 14px;
    color:rgb(85, 85, 85);
}

#search:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}

#lucky {
    height: 35px;
    background-color: #f2f2f2;
    border: none;
    padding: 0 15px 0 15px;
    border-radius: 3px;
    font-size: 14px;
    color:rgb(85, 85, 85);
}

#lucky:hover {
    border-color: black;
    color: black;
    cursor: pointer;
}

#signin {
    background-color: #1a73e8;
    color: white;
    height: 35px;
    padding: 0 15px 0 15px;
    border: none;
    border-radius: 3px;
}