body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    font-size: 12px;
}

li {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    padding: 0 10px 0 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.right {
    float: right;
}

ul a:hover {
    color: black;
    text-decoration: underline;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(192, 192, 192);
    width: 100%;
    padding: 1% 0 1% 0;
}

#main {
    align-items: center;
    width: 100%;
    height: 100%;
}

/* #logo {
    display: flex;
    justify-content: center;
} */

img {
    align-items: center;
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9%;
}

form {
    height: 5px;
}

#searchbox {
    border-radius: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(214, 214, 214);
    height: 35px;
}

.buttons {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}